@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}


body {
    display: flex;
    background: #0c1022;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.container-login {
    position: relative;
    width: 350px;
    height: 500px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 32px;
    overflow: hidden;
    animation: slide-up 1s ease;
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    position: relative; /* Add this to make stacking work */
    z-index: 2; /* Add this to place the form on top of the background */
}

.form-box .form h2 {
    font-size: 32px;
    color: #fff;
    text-align: center;
}


.input-box {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0 35px 0 5px;
    color: #fff;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace !important;
}

input:focus ~ label,
input:valid ~ label {
    top: -5px;
}

.input-box label {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transform: .3s;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace !important;
}

.group {
    display: flex;
    justify-content: space-between;
}

.group a {
    position: relative;
    top: -15px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

button {
    width: 90px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
}

button:focus {
    color: #fff;
    background-color: #0c1022;
    border: 2px solid #fff;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: url('/assets/css/1649279368-Ent-2022Python.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(10px); 
    opacity: 0.5; 
}
