<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InstaDev - Login</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>

<body>
    <div class="background-image"></div>

    <div class="container-login">
        <div class="form-box">
            <div class="form">
                <h2>Registro</h2>
                <form id="login" method="POST">
                    <div class="input-box">
                        <input class="inputbox" type="text" name="email" id="email" placeholder="Digite o seu e-mail" required="required">
                        <input type="password" name="senha" id="senha" placeholder="Digite a sua senha" required="required">
                    </div>
                    <div class="group">
                        <a href="/criar-usuario">Ainda não tem conta? Clique aqui!</a>
                    </div>          
                    <button type="submit" class="btn-instadev">Login</button>
                </form> 
                   
            </div>
        </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/login.js"></script>
</body>

</html>
